body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #f3f3f8;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.quote-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 3em;
}

img {
    width: 420px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center center;
}

.image-info {
    width: 90%;
    margin: auto;
    font-size: 12px;
    color: white;
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-info span {
    display: inline-block;
}

.image-info img {
    width: 35px;
    height: 35px;
}

.quote-nav {
    margin: 18px auto;
    height: 35px;
    width: 100px;
    background: #F9827D;
    border-radius: 35px;
}

.Hits img,
.Quote img {
    /* display: flex; */
    height: 15px;
    width: 15px;
}

.Hits .Quote {
    display: flex;
    align-content: center;
}